@import "../../variables.scss";

.title {
  text-align: center;
  font-size: 1.8rem;
  margin: 5rem 0;
}

.back {
  margin: 2rem;
}

.container {
  height: 100vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 5rem;

  :first-child,
  :nth-child(2) {
    margin-bottom: 1rem;
  }

  @media (min-width: $desktop) {
    flex-direction: row;

    :first-child,
    :nth-child(2) {
      margin-bottom: 0;
    }
  }
}
